body {
	background-color: white !important;
	margin: -8px !important;
}
nav {
    color: white;
   /* line-height: 56px;*/
    background-color: white;
}
.bouton {
    border:none;
    color: black;
    background-color: white;
    height: 42px;
    border-radius: 136px;
    margin-top: 3px;
    text-align: center;
}
.header{
	width: 100%;
	height: 350px;
	border: solid black 1px;
	background-image: url("photo5787305678325525636.jpg");
	background-size:cover !important;
	padding: 0px !important;

}
.headerflos{
	width: 100%;
	height:350px;
	background-color:#0000009a;
}
.tail{
	font-size:35px;
	text-align: left;
	border: none;
	color: black;
}
.responsive-img{
	background-image:cover;
	margin: none !important;
}
.color{
   background-color:#8783834d;
   border: none;
   color: black;
}
.row .col.m4 {

    width: 32.333%;
    margin-left: 67px;
    left: auto;
    right: auto;
    border-radius: 22px;
    height: 44px;
    margin-top: 12px;
}
.imb{
	height: 20px;
}
/*.red{
	height: 44px;
	background-color: red;
	border: solid red 1px;
	margin-top: 10px;
}*/
.bto{
	height: 44px;
	border: solid red 1px;
   /* margin-top: 10px;*/
}
.row .col.m2 {
    width: 10.667%;
    text-align: right 5px;
}
.row .col.m2 {

    width: 10.667%;
    text-align: right 5px;

}
.row .col.m2 {

    width: 10.667%;
    margin-left: 51px;

}
.colss {
    width: 108%;
    height: 200px;
    border: solid black 1px;
    margin-left: -12px;
}
.container{
	width: 75%;
	background-color:white;
	border:none;
	margin-top:40px;
}
.blockbordure{
    margin-top: 70px !important;
}
.bts{
	width: 73%;
	height: 60px;
	margin-right: 26%;
	background-color:white;
	margin-top: 100px;
	font-size:35px;
	color: #383535;
}
.bts1{
	width: 73%;
	height: 60px;
	background-color:white;
	margin-top: 100px;
	font-size:35px;
	color: #383535;
}
.block{
	border:solid #7d7b7b 1px;
	height: 400px;
	margin-left: 10px;
}
.btns{
    width: 31%;
    margin-left: 18px;
    box-shadow: 10px;
}
/*.btn{
	border: solid black 1px;3
	margin-left: 100px;
}*/

.btn{
	border-radius: 20px;
	padding: 0px 30px !important;
}
.outline{
	background-color: transparent;
	border: 3px solid red  !important;
	color: rgb(61, 60, 60);
	border-radius: 20px !important;

}
.outlines{
	background-color: transparent;
	border: 1px solid rgb(151, 147, 147)  !important;
	color: black;
	border-radius: 30px !important;
	padding-left: 10px !important;

}

.btns .btn{
	margin-left: 30px !important;
}
.linktext{
	margin-top: 20%;
	border:none !important;
	height: 90px;
}
.tt{
	margin-top:10% !important;
	font-size: 12px !important;
	color: #776c6c;

}
.titre{
	font-size:17px !important;
	color: #776c6c !important;
	font-weight: 500 !important;
}
.lien{
	margin-left: 40% !important;
	color: #2acbde !important;
	font-size: 17px !important;
	text-transform:lowercase !important;
}
.card-image-flou {
    width: 100% !important;
    height: 100% !important;
    background-color: #00f6ff99 !important;
    position: absolute;
    bottom: 0;
}  
.colorflo1{
	background-color: #6d2db1cc !important;
} 
.lien1{
	margin-left: 40% !important;
	color: #7b1bbf !important;
	font-size: 17px !important;
	text-transform:lowercase !important;
} 
.colorflo2{
	background-color: #fe10eacc !important;
} 
.lien2{
	margin-left: 40% !important;
	color: #bf1bbd !important;
	font-size: 17px !important;
	text-transform:lowercase !important;
}
.colorflo3{	
	background-color: #f80341cc !important;
} 
.lien3{
	margin-left: 40% !important;
	color: #f22f4a !important;
	font-size: 17px !important;
	text-transform:lowercase !important;
}
.colorflo4{
	background-color: #bd13d7cc !important;
} 
.lien4{
	margin-left: 40% !important;
	color: #9b2ff2 !important;
	font-size: 17px !important;
	text-transform:lowercase !important;
}
.colorflo5{
	background-color: #f00ea6cc !important;
} 
.lien5{
	margin-left: 40% !important;
	color: #bf1b8f !important;
	font-size: 17px !important;
	text-transform:lowercase !important;
}
.colorflo6{
	background-color: #1cd45fcc !important;
} 
.lien6{
	margin-left: 40% !important;
	color: #1bbf45 !important;
	font-size: 15px !important;
	text-transform:lowercase !important;
}
.colorflo7{
	background-color: #29054ecc !important;
} 
.lien7{
	margin-left: 40% !important;
	color: #210436 !important;
	font-size: 15px !important;
	text-transform:lowercase !important;
}
.colorflo8{
	background-color: #6d2db1cc !important;
} 
.lien8{
	margin-left: 40% !important;
	color: #7b1bbf !important;
	font-size: 17px !important;
	text-transform:lowercase !important;
}
.colorflo9{
	background-color: #6d2db1cc !important;
} 
.lien9{
	margin-left: 40% !important;
	color: #7b1bbf !important;
	font-size: 17px !important;
	text-transform:lowercase !important;
}
.colorflo10{
	background-color: #07070760 !important;
} 
.lien10{
	margin-left: 40% !important;
	color: #7b1bbf !important;
	font-size: 17px !important;
	text-transform: lowercase !important;
}
.colorflo11{
	background-color: #07070760 !important;
} 
.colorflo12{
	background-color: #929296cc !important;
} 
.lien11{
	margin-left: 40% !important;
	color: #7b1bbf !important;
	font-size: 17px !important;
	text-transform:lowercase !important;
}
.btn {
    /* padding: 0px 30px !important; */
    border-radius: 39px;
   /* width: 20%;*/
}
.bti{
	width: 27% !important;
	height: 39px !important;
	margin-left: 37% !important;
    text-decoration: none;
    color: #fff;
    background-color: #ec8007;
    text-align: center;
	letter-spacing: .5px;
    -webkit-transition: background-color .5s ease-in;
    /* transition: background-color .5s ease-in; */
	cursor: pointer;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
.formeimage{
	border-radius: 50% !important;
	margin-top: none !important;
	position: relative;
	margin-left: 10px !important;
}
.partimage{
	width: 100%;
	height: 50px;
	border:none !important;
	margin-top: 50px;
}
.card-flou{
	width: 100%;
	height: 100%;
	background-color: #7d7b7bec;
	position: absolute;
	bottom: 0;
	opacity: 0;
	transition: 3s all;

} 	
#imagehover:hover
.card-flou{
	opacity: 1;
	transition: 3s all;
	
}
.linktext2{
	border:none !important;
}
.footer{
	width: 100%;
	height: 350px;
	margin-top: 10% !important;
	/* border: solid rgba(46, 45, 45, 0.815) 1px; */
	background-image: url("photo5879594793120673557.jpg");
	background-size:cover !important;
	padding: 0px !important;


}
.footerflos{
	width: 100%;
	height:350px;
	background-color:#33323263;
}
h5{
	font-size: 15px;
}
.decotexte{
	margin-top: 30px;
	font-size: 12px;
	color: #727070;
}
.footers span{
margin-left: 40px !important;
position: relative;
top: 20px;
font-size: 20px;
color: #535353;
}
.containe{
	width: 90%;
	padding-bottom: 40px !important;
	position: relative;
	top: 60px;
	margin-left:60px;
	border-top: solid rgb(136, 133, 133) 1px;
}
@media screen and (max-width:600px){
	.footers{
		/* Commentires ingridde */
      margin-left: 10px !important;
	}
	.footers span{
		margin-left: 7px !important;
		font-size: 14px;
		}
	.mb{
		width: 600px !important;
	}	

}